.fondo {
    background: white;
}

.time {
    font-size: 14px;
    color: grey;
}

.titulito{
    font-size: 25px;
    background: #fff;
    color: #222831;
    padding: 15px;
}
.titulito2{
    font-size: 25px;
    background: #fff;
    color: #222831;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-top: 15px;
}