.body1 {
    background-image: url("../assets/hola.gif");
}

.kk{
    background-color: rgb(0,0,0,0.4);
    color: white;
}

.kk2 {
    background-color: rgb(0,0,0,0.1);
    color: white;
}