.divlogout{
    padding-top: 20%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.btnlogout {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 30%;
}